The storage service should support using checksums that aren't SHA-256

Quoting [the BagIt RFC](https://datatracker.ietf.org/doc/html/rfc8493#section-2.4):

> Starting with BagIt 1.0, bag creation and validation tools MUST
   support the SHA-256 and SHA-512 algorithms [RFC6234] and SHOULD
   enable SHA-512 by default when creating new bags.  For backwards
   compatibility, implementers SHOULD support MD5 [RFC1321] and SHA-1
   [RFC3174].  Implementers are encouraged to simplify the process of
   adding additional manifests using new algorithms to streamline the
   process of in-place upgrades.

Right now we only support SHA-256. We should add support for other checksum algorithms.

Failure modes we need to consider:

* There's no SHA-256/SHA-512 manifest
* The manifests have different entries
* One manifest is valid but the other isn't
* We have inconsistent manifests, e.g. a MD5 manifest and a SHA256 tag manifest